*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
}

.main_container{
    height: 90%;
    width: 80%;
    top: 50px;
    right: 150px;
    display: flex;
    position: absolute;
}

/* left_container */

.left-container{
    height: 100%;
    width: 40%;
    background-color: white;
}

/* user_bar */

.user_bar{
    height: 70px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

.user_bar_margin{
    border-right: 1px solid #D7D7D7;
}

.user_img {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.user_img p {
    margin-left: 5px;
    font-size: 15px;
    color: black;
}

.user_bar .user_img img {
    height: 50px;
    border-radius: 40px;
}

.icons_right {
    width: 30%;
    text-align: right;
}

.icons_right i {
    padding: 9px;
    font-size: 20px;
    cursor: pointer;
    color: #B1B1B1;
}

.icons_right i:hover {
    color: #6B7376;
}

/* notifications_bar */

.notifications_bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #8EDAFC;
}

.notifications_bell{
    padding: 10px;
    margin-left: 18px;
    font-size: 23px;
    border-radius: 40px;
    color: #8edafc;
    background-color: white;
}

.notifications_text {
    margin-left: 10px;
}

.notifications_text p {
    font-size: 13px;
    color: black;
}
.notifications_text a {
    font-size: 12px;
    color: gray;
}

/* search_bar */

.search_bar{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#FAFAFA;
}

.search_bar i{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 12px;
    cursor: pointer;
    color: #B1B1B1;
}

.search_bar i:hover{
    color: #6B7376;
}

.search_input{
    height: 70%;
    width: 100%;
    padding-left: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
}

/* contacts_area */

.contacts{
    height: calc(100% - 194px);
    width: 100%;
}

.overflow{
    overflow-y: scroll;
}

.contact_box{
    height: 70px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #E8EBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
}

.contact_box:hover{
    background-color: #E8EBEB;
}

.contact_box_img{
    display: flex;
    align-items: center;
}

.contact_box_img img{
    height: 50px;
    border-radius: 40px;
}

.contact_box_name{
    bottom: 10px;
    margin-left: 8px;
    position: relative;
}
 .contact_box_name p{
    margin-top: 9px;
    margin-left: 5px;
    font-size: 14px;
    color: black;
 }

 .contact_box_name span{
    margin-left: 5px;
    font-size: 12px;
    color: #9C9D9D;
 }

 .date{
    bottom: 25px;
    text-align: right;
    position: relative;
 }

 .date span{
    font-size: 10px;
    color: #9C9D9D;
}

/* right_container */

.right_container{
    height: 100%;
    width: 60%;
}

/* chat_contact_bar */

.chat_contact{
    width: 250px;
    margin-left: 20px;
}

#contact_name{
    font-size: 14px;
    display: inline-block;
    color: #1b3039;
}

#last_seen{
    font-size: 10px;
    color: grey; 
    display: inline-block;
}

/* message_container */

.message_container{
    height: calc(100% - 135px);
    width: 100%;
    background-image: url(../img/mine.jpg);
    background-size: contain;
}

.message{
    width: 100%;
}

.fixed_msg{
    display: table;
}

.first_msg{
    padding-top: 45px;
}

.sent{
    height: 40px;
    width: 250px;
    margin: 5px 70px;
    line-height: 40px;
    border-radius: 8px;
    float: right;
    background-color: #D5F9BA;
}

.received{
    width: 250px;
    height: 40px;
    margin: 15px 70px;
    border-radius: 8px;
    line-height: 40px;
    float: left;
    background-color: white;
}

.sent p, .received p{
    margin-left: 12px;
    font-size: 12px;
    display: inline-block;
    color: black;  
}

.sent span, .received span{
    font-size: 8px;
    top: 10px;
    left: 150px;
    position: relative;
    color: grey;
}

/* send_message_bar */

.send_msg_bar{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EEE9;
}

.smile, .record{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smile i, .record i{
    font-size: 25px;
    cursor: pointer;
    color: grey;
}

.type_field{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smile i:hover, .record i:hover{
    color: #6B7376;
}

.type_field > input{
    width: 100%;
    height: 60%;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}